.section-one {
  width: 100%;

  height: 1400px;

  position: relative;

  display: flex;
  justify-content: center;
  text-align: center;

  background-color: #e9e4f6;
}

.section-one .pag-secion-one {
  width: 100%;
  max-width: var(--max-width);

  display: flex;
  justify-content: center;

  height: 100vh;

  background: #e5dbff;
}

.section-one .pag-secion-one .hedear-one .herder-logo-one {
  width: 130px;
  height: 18px;

  margin-left: 100px;

  display: flex;
  justify-content: center;

  background-color: transparent;
}

.section-one .pag-secion-one .hedear-one {
  width: 100%;
  max-width: var(--max-width);

  position: fixed;
  border-radius: 1px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;

  opacity: 0.8;

  background-color: #e5dbff;
}

.section-one .pag-secion-one .hedear-one .link-header-one {
  width: 350px;
  height: 47px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: #5f3dc4;

  background-color: transparent;
}

.section-one .pag-secion-one .hedear-one .header-agend-one {
  width: 185px;
  height: 45px;

  margin-right: 100px;

  display: flex;
  align-items: center;
}

.section-one .pag-secion-one .hedear-one .header-agend-one .agend-one {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  border: 1px solid #5f3dc4;
  border-radius: 40px;

  padding: 12px;

  color: #5f3dc4;

  cursor: pointer;
}

.section-one .pag-secion-one .logo-home-one {
  width: 1200px;
  height: 550px;

  margin-top: 80px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  flex-direction: row-reverse;
  background-color: transparent
}

.section-one .pag-secion-one .logo-home-one .home-one {
  width: 650px;
  height: 415px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 70px;
  margin-right: 5px;

  background-color: transparent
}

.section-one .pag-secion-one .logo-home-one .home-one .boas-home-one {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;

  letter-spacing: 0.08em;

  color: #5f3dc4;
}

.section-one .pag-secion-one .logo-home-one .home-one .home-a-home-one {
  display: flex;
  text-align: start;

  background-color:transparent
}

.section-one
  .pag-secion-one
  .logo-home-one
  .home-one
  .home-a-home-one
  .a-home-one {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 130%;

  color: #061800;
}

.section-one .pag-secion-one .logo-home-one .home-one .medic-home-one1 {
  width: 585px;
  height: 54px;

  display: flex;
  text-align: start;

  background-color: transparent
}

.section-one
  .pag-secion-one
  .logo-home-one
  .home-one
  .medic-home-one1
  .medic-home-one {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  color: #384633;
}

.section-one .pag-secion-one .logo-home-one .home-one .button-home-one1 {
  width: 263px;
  height: 50px;

  background:  #5F3DC4;
  border-radius: 40px;

  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-one
  .pag-secion-one
  .logo-home-one
  .home-one
  .button-home-one1
  .button-home-one {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  margin-right: 30px;

  color: #ffffff;

  background: transparent;
  border-radius: 40px;
  border: 0px;
}

.section-one
  .pag-secion-one
  .logo-home-one
  .home-one
  .button-home-one1
  .whats-home-one {
  margin-left: 30px;
  background-color: transparent
}

.section-one .pag-secion-one .logo-home-one .img-home-one {
  width: 370px;
  height: 500px;

  margin-right: 70px;

  background-color: transparent
}

.section-one .pag-secion-one .logo-home-one .img-home-one img {
  width: 350px;
  height: 530px;

  background-color: transparent;
}

.porc-logo-one {
  width: 1050px;

  height: 210px;

  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: whitesmoke;

  margin-top: 570px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #5f3dc4;
}

.porc-logo-one .title-one1,
.title-one2,
.title-one3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;

  color: #061800;
}
.porc-logo-one .title1-logo-one,
.title2-logo-one,
.title3-logo-one {

padding: 90px;
}

